// pullquote
blockquote
  &.pullquote
    position: relative
    max-width: 45%
    font-size: 110%

    &.left
      float: left
      margin: 1em .5em 0 0

    &.right
      float: right
      margin: 1em 0 0 .5em

